.title {
  display: block;
  margin-bottom: 50px;
  font-size: 36px;
  color: #141414;
  position: relative;
  padding-left: 60px;
  max-width: 700px;
}

.title::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 43px;
  width: 43px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-image: url(../img/icons/title.svg);
}

.subtitle {
  max-width: 700px;
  margin-bottom: 50px;
  margin-top: -30px;
  font-size: 20px;
  display: block;
}

.activities {
  padding-bottom: 50px;
}

.activities-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.activities-wrap-item {
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 25px 45px;
  color: #141414;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.activities-wrap-item p {
  font-size: 18px;
  font-weight: 500;
  color: #141414;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  padding-right: 30px;
  max-width: 324px;
}

.activities-wrap-item b {
  font-size: 56px;
  color: #E8E8E8;
  font-weight: 400;
  position: absolute;
  top: 49%;
  right: 40px;
  line-height: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.activities-wrap-item:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background-color: #F54E37;
}

.activities-wrap-item:hover p {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #fff;
}

.activities-wrap-item:hover b {
  color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.setup {
  background-color: #F8F8F8;
  position: relative;
  padding-bottom: 80px;
}

.setup::before {
  position: absolute;
  content: '';
  height: 300px;
  width: 400px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: left top;
  background-image: url(../img/setup/bg.svg);
  top: 0;
  left: 0;
}

.setup-wrap {
  position: relative;
}

.setup-wrap-top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.setup-wrap-top-item {
  display: block;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  margin-bottom: 30px;
}

.setup-wrap-top-item img {
  display: block;
  margin: auto;
}

.setup-wrap-top-item h3 {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}

.setup-wrap-center {
  background-color: #282828;
  padding: 60px 60px 30px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.setup-wrap-center-small {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #787878;
  font-size: 16px;
}

.setup-wrap-center-item {
  max-width: 170px;
  width: 100%;
  margin: 0 70px;
}

.setup-wrap-center-item b {
  font-weight: 600;
  font-size: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  color: #F54E37;
}

.setup-wrap-center-item p {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.setup-wrap-bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.setup-wrap-bot img {
  display: block;
  margin-right: 30px;
}

.setup-wrap-bot p {
  font-size: 18px;
  font-weight: 500;
}

.mount-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mount-wrap-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px 30px;
  background-color: #F8F8F8;
  width: -webkit-calc( 50% - 10px);
  width: calc( 50% - 10px);
  margin-bottom: 20px;
}

.mount-wrap-item img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 25px;
}

.mount-wrap-item-text {
  max-width: 260px;
}

.mount-wrap-item-text h3 {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.mount-wrap-item-text p {
  font-size: 26px;
  font-weight: 500;
}

.mount-wrap-item-text p b {
  font-size: 36px;
  font-weight: 800;
}

.tech-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tech-wrap-left {
  width: -webkit-calc(100% - 530px);
  width: calc(100% - 530px);
}

.tech-wrap-left h3 {
  font-size: 24px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.tech-wrap-left p {
  color: #787878;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  margin-bottom: 40px;
}

.tech-wrap-left-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tech-wrap-left-text-item {
  width: -webkit-calc(33.3% - 30px);
  width: calc(33.3% - 30px);
}

.tech-wrap-left-text-item b {
  font-size: 36px;
  font-weight: 800;
  display: block;
}

.tech-wrap-left-text-item p {
  font-size: 20px;
  color: #282828;
}

.tech-wrap-right {
  width: 450px;
  position: relative;
  background-color: #282828;
  padding: 50px 60px;
  color: #fff;
}

.tech-wrap-right::after {
  position: absolute;
  z-index: -1;
  content: '';
  height: 360px;
  width: 400px;
  bottom: -30px;
  right: -30px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: bottom right;
  background-image: url(../img/bg-form.svg);
}

.tech-wrap-right h3 {
  font-size: 32px;
  display: block;
  margin-bottom: 30px;
}

.tech-wrap-right label {
  font-size: 20px;
  margin-bottom: 5px;
}

.tech-wrap-right input {
  height: 60px;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
}

.tech-wrap-right input.button {
  margin-top: 30px;
  width: 100%;
  height: 70px;
  background-color: #F54E37;
  margin-bottom: 15px;
  font-size: 23px;
}

.tech-wrap-right input.button:hover {
  background-color: #fff;
  color: #000;
}

.tech-wrap-right small {
  font-size: 14px;
  color: #787878;
}

.planing-wrap-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 80px;
}

.planing-wrap-top-item {
  width: -webkit-calc(25% - 60px);
  width: calc(25% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.planing-wrap-top-item:last-child::after {
  display: none;
}

.planing-wrap-top-item::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 140px;
  left: 190px;
  background-color: #F54E37;
  top: 40px;
}

.planing-wrap-top-item img {
  display: block;
  margin-bottom: 20px;
}

.planing-wrap-top-item b {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.planing-wrap-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.planing-wrap-center-left {
  width: -webkit-calc(100% - 490px);
  width: calc(100% - 490px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.planing-wrap-center-left img {
  display: block;
  margin-right: 20px;
}

.planing-wrap-center-left p {
  font-size: 20px;
  font-weight: 500;
}

.planing-wrap-center-right {
  width: 40%;
  width: 370px;
}

.planing-wrap-center-right p {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

.planing-wrap-center-right p b {
  font-weight: 800;
  font-size: 36px;
}

.planing-wrap-center-right small {
  font-size: 14px;
  color: #787878;
}

.planing-wrap-bot {
  background-color: #F8F8F8;
  padding: 30px 40px;
  font-size: 20px;
  font-weight: 500;
}

.ready-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ready-wrap-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 90px;
}

.ready-wrap-item b {
  font-size: 18px;
}

.ready-wrap-item strong {
  color: #F54E37;
  font-size: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1;
  margin-top: 15px;
}

.ready-wrap-item strong p {
  font-size: 36px;
  font-weight: 800;
  line-height: .9;
  margin: 0 5px;
}

.call {
  background-color: #282828;
  position: relative;
}

.call::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: top left;
  background-image: url(../img/bg-call.svg);
  height: 160px;
  width: 320px;
}

.call-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-wrap-right {
  color: #fff;
  width: 340px;
  margin-right: 70px;
}

.call-wrap-right input {
  width: 100%;
  max-width: 100%;
  height: 60px;
  background-color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
}

.call-wrap-right label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.call-wrap-right input.button {
  max-width: 180px;
  font-size: 23px;
  font-weight: 500;
  background-color: #F54E37;
  margin-top: 25px;
}

.call-wrap-right input.button:hover {
  background-color: #fff;
  color: #282828;
}

.call-wrap-left {
  color: #fff;
  width: 570px;
}

.call-wrap-left h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.call-wrap-left p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 482px;
  line-height: 1.5;
}

.call-wrap-left small {
  max-width: 320px;
  color: #787878;
  display: block;
}

.call-wrap-left small a {
  color: #787878;
}

.features .title {
  margin-bottom: 80px;
}

.features-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.features-wrap-item {
  width: -webkit-calc(50% - 25px);
  width: calc(50% - 25px);
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features-wrap-item img {
  display: block;
  margin-right: 35px;
}

.features-wrap-item div h3 {
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
}

.features-wrap-item div p {
  font-size: 18px;
  color: #676767;
}

.projects-wrap {
  position: relative;
}

.projects-wrap .slick-arrow {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 0;
  background-color: #fff;
  border: none;
  height: 43px;
  width: 43px;
  padding: 0;
  bottom: 40px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  z-index: 40;
}

.projects-wrap .slick-prev {
  left: 50px;
  background-image: url(../img/icons/arr-left.svg);
}

.projects-wrap .slick-disabled {
  opacity: .3;
}

.projects-wrap .slick-next {
  left: 240px;
  background-image: url(../img/icons/arr-right.svg);
}

.projects-wrap .arrows {
  position: absolute;
  bottom: 40px;
  width: 340px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.projects-wrap-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects-wrap-item-text {
  width: 400px;
  padding-right: 60px;
  padding-top: 45px;
}

.projects-wrap-item-text h3 {
  font-weight: 500;
  font-size: 20px;
}

.projects-wrap-item-text small {
  font-size: 18px;
  color: #919191;
  display: block;
  margin-bottom: 50px;
}

.projects-wrap-item-text p {
  font-size: 18px;
  display: block;
  max-width: 300px;
}

.projects-wrap-item img {
  width: -webkit-calc(100% - 400px);
  width: calc(100% - 400px);
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sert {
  padding-bottom: 150px;
}

.sert .arrows {
  display: none;
}

.sert-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sert-wrap img {
  display: block;
  width: -webkit-calc(25% - 13px);
  width: calc(25% - 13px);
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
}

.red-call {
  background-color: #F54E37;
}

.red-call .call-wrap-right input.button {
  background-color: #282828;
}

.red-call .call-wrap-right input.button:hover {
  color: #F54E37;
}

.red-call .call-wrap-left small {
  color: #fff;
  max-width: 320px;
  display: block;
}

.red-call .call-wrap-left small a {
  color: #fff;
}

.footer {
  background-color: #282828;
  padding-bottom: 0;
}

.footer-ref {
  background-color: #F8F8F8;
  padding: 25px 0;
}

.footer-ref .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-ref .container p, .footer-ref .container a {
  font-size: 18px;
  color: #787878;
}

.footer-bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.footer-bot a {
  color: #fff;
  font-size: 18px;
  display: block;
  margin-bottom: 25px;
}

.footer-bot a:hover {
  color: #F54E37;
}

.footer-bot ul {
  max-width: 300px;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.footer-top a {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top a img {
  margin-right: 15px;
}

.footer-top a:hover {
  color: #F54E37;
}

.footer-top a.email {
  font-weight: 400;
}

#thx {
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 95vw;
  max-height: 95vh;
  background: #F54E37;
}

#thx .wrap {
  color: #fff;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  height: 600px;
  width: 600px;
  max-width: 100%;
}

#thx .wrap h2 {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 34px;
  margin-bottom: 50px;
}

#thx .wrap p {
  font-size: 16px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.up-arr {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
  background-color: #F54E37;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  display: none;
}

.up-arr:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background-color: #282828;
}

.up-arr-wrap {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.wpcf7-response-output {
  display: none !important;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup {
  width: 100%;
  max-width: 400px;
  max-height: 95vh;
  z-index: 150;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-wrap {
  background-color: #F54E37;
  padding: 40px;
  color: #fff;
}

.popup-wrap h3 {
  font-size: 28px;
  display: block;
  font-weight: 500;
  margin-bottom: 30px;
}

.popup-wrap label {
  display: block;
  margin-bottom: 5px;
}

.popup-wrap input {
  height: 60px;
  font-size: 18px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.popup-wrap .button {
  margin-top: 20px;
  background-color: #282828;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.popup-wrap .button:hover {
  background-color: #fff;
  color: #282828;
}

.popup-wrap small {
  font-size: 14px;
  text-align: center;
  display: block;
}

.popup-wrap small a {
  color: #fff;
}

.popup-wrap small a:hover {
  color: #282828;
}

.popup-call .close {
  position: absolute;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  top: 0px;
  right: 12px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.popup-call .close:hover {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #282828;
}

.popup-img {
  max-width: 900px;
  max-height: 95vh;
  height: 100%;
}

.popup-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .setup-wrap-center {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .setup-wrap-center-item {
    margin: 0;
  }
  .tech-wrap-left-text {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    min-width: -webkit-calc(100% + 200px);
    min-width: calc(100% + 200px);
  }
  .planing-wrap-top-item::after {
    left: 140px;
  }
  .projects-wrap-item-text {
    padding-top: 0;
  }
  .projects-wrap .slick-arrow {
    bottom: 0;
  }
  .projects-wrap .arrows {
    bottom: 0;
  }
}

@media (max-width: 992px) {
  .activities-wrap-item,
  .mount-wrap-item {
    width: 100%;
  }
  .activities-wrap-item-text,
  .mount-wrap-item-text {
    max-width: 100%;
  }
  .setup-wrap-top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .setup-wrap-top-item {
    width: 40%;
  }
  .tech-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tech-wrap-left {
    width: 100%;
    margin-bottom: 50px;
  }
  .tech-wrap-left-text {
    min-width: 0;
    width: 100%;
  }
  .tech-wrap-right {
    width: 100%;
  }
  .planing-wrap-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .planing-wrap-center-left {
    width: 100%;
    margin-bottom: 40px;
  }
  .planing-wrap-center-right {
    width: 100%;
  }
  .planing-wrap-top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .planing-wrap-top-item {
    width: 50%;
    margin-bottom: 30px;
  }
  .planing-wrap-top-item::after {
    display: none;
  }
  .call::before {
    display: none;
  }
  .call-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call-wrap-left {
    width: 100%;
    margin-bottom: 50px;
  }
  .call-wrap-right {
    width: 100%;
    margin-right: 0;
  }
  .features-wrap-item {
    width: 100%;
  }
  .projects-wrap {
    padding-bottom: 50px;
  }
  .projects-wrap .slick-arrow {
    bottom: 0;
  }
  .projects-wrap .slick-next {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: -webkit-calc(50% + 90px);
    left: calc(50% + 90px);
    bottom: -50px;
  }
  .projects-wrap .slick-prev {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: -webkit-calc(50% - 90px);
    left: calc(50% - 90px);
    bottom: -50px;
  }
  .projects-wrap .arrows {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }
  .projects-wrap-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects-wrap-item img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 400px;
  }
  .projects-wrap-item-text {
    width: 100%;
    padding-right: 0;
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .projects-wrap-item-text small {
    margin-bottom: 30px;
  }
  .projects-wrap-item-text p {
    width: 100%;
    max-width: 100%;
  }
  .sert {
    position: relative;
    padding-bottom: 70px;
  }
  .sert-wrap img {
    max-height: 100%;
    height: 100%;
    width: auto;
    max-width: 100%;
  }
  .sert .slick-arrow {
    position: absolute;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-size: 0;
    background-color: #fff;
    border: none;
    height: 43px;
    width: 43px;
    padding: 0;
    bottom: 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: center;
    z-index: 40;
  }
  .sert .slick-prev {
    left: 50px;
    background-image: url(../img/icons/arr-left.svg);
  }
  .sert .slick-disabled {
    opacity: .3;
  }
  .sert .slick-next {
    left: 240px;
    background-image: url(../img/icons/arr-right.svg);
  }
  .sert .arrows {
    width: 340px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
  }
  .sert .slick-arrow {
    bottom: 0;
  }
  .sert .slick-next {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: -webkit-calc(50% + 90px);
    left: calc(50% + 90px);
    bottom: -80px;
  }
  .sert .slick-prev {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: -webkit-calc(50% - 90px);
    left: calc(50% - 90px);
    bottom: -80px;
  }
  .sert .arrows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-top: 40px;
  }
  .footer-bot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 50px;
  }
  .footer-bot ul {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .setup-wrap-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .setup-wrap-center-small {
    text-align: center;
    margin-top: 0;
  }
  .setup-wrap-center-item {
    width: 100%;
    margin-bottom: 50px;
  }
  .setup-wrap-center-item b, .setup-wrap-center-item p {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tech-wrap-left-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F8F8F8;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tech-wrap-left-text-item {
    width: 100%;
    max-width: 180px;
    margin-bottom: 30px;
  }
  .tech-wrap-left-text-item:last-child {
    margin-bottom: 0;
  }
  .tech-wrap-left-text-item b {
    font-size: 36px;
    display: block;
    text-align: center;
  }
  .tech-wrap-left-text-item p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
  }
  .ready-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ready-wrap-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-top a {
    margin-bottom: 30px;
  }
}

@media (max-width: 578px) {
  .title {
    font-size: 28px;
    margin-bottom: 40px;
    padding-left: 50px;
  }
  .title::after {
    height: 34px;
    width: 34px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .subtitle {
    margin-top: -20px;
  }
  .activities-wrap-item {
    padding: 20px;
  }
  .activities-wrap-item p {
    font-size: 18px;
    font-weight: 500;
    padding-right: 40px;
  }
  .activities-wrap-item b {
    font-size: 40px;
    right: 20px;
  }
  .setup-wrap-bot {
    padding: 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .setup-wrap-bot img {
    margin-right: 20px;
  }
  .setup-wrap-bot p {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
  }
  .setup-wrap-top-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  .setup-wrap-top-item img {
    margin-right: 25px;
    display: block;
  }
  .setup-wrap-top-item h3 {
    margin-top: 0;
    text-align: start;
    font-size: 20px;
  }
  .setup-wrap-center {
    padding: 50px 20px;
  }
  .setup-wrap-center-item b {
    text-align: start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .setup-wrap-center-item p {
    text-align: start;
  }
  .setup-wrap-center-small {
    max-width: 100%;
  }
  .mount-wrap-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mount-wrap-item img {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .tech-wrap-right {
    padding: 50px 20px;
  }
  .tech-wrap-right h3 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .tech-wrap-right form label {
    margin-bottom: 5px;
    display: block;
  }
  .planing-wrap-bot {
    padding: 25px 20px;
  }
  .planing-wrap-top {
    margin-bottom: 50px;
  }
  .planing-wrap-top-item {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 20px;
  }
  .planing-wrap-top-item::after {
    display: block;
    left: 40px;
    height: 30px;
    width: 2px;
    top: auto;
    bottom: -30px;
  }
  .planing-wrap-top-item img {
    margin-right: 25px;
    margin-bottom: 0;
  }
  .planing-wrap-top-item b {
    text-align: start;
  }
  .features-wrap-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
  .features-wrap-item:last-child {
    margin-bottom: 0;
  }
  .features-wrap-item img {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .sert-wrap {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: 0;
  }
  .sert .slick-next {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: auto;
    right: 0;
  }
  .projects-wrap {
    min-height: 200px;
  }
  .projects-wrap .slick-prev {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: 0;
  }
  .projects-wrap .slick-next {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: auto;
    right: 0;
  }
  .projects-wrap-item-text {
    padding-bottom: 40px;
  }
  .projects-wrap-item img {
    max-height: 245px;
  }
  .footer-bot a {
    text-align: center;
  }
  .footer-top {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-ref {
    padding-bottom: 70px;
  }
  .footer-ref .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-ref .container p {
    margin-bottom: 20px;
  }
}

@media (max-width: 578px) and (max-width: 360px) {
  .title {
    font-size: 24px;
  }
  .offer h1 {
    font-size: 30px;
  }
  .offer p span {
    font-size: 20px;
  }
  .offer .button {
    font-size: 20px;
  }
  .setup-wrap-top-item h3 {
    font-size: 18px;
  }
}
